.venv/
__pycache__/
.ipynb_checkpoints/

*.pyc
*.pyo

.env

models/*.pkl
models/*.joblib

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

reports/*
!reports/.gitkeep

.vscode/

.DS_Store